body,
html {
  background-color: #272727;
}

.App {
  text-align: center;
  color: white;
  margin-top: 200px;
}

button {
  width: 100%;
  max-width: 110px;
  background-color: #2ba0a0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border: 0;
  padding: 11px 0;
  margin: 3px;
  margin-top: 10px;
}

.timer_text {
  color: #2ba0a0;
  font-size: 24px;
  font-weight: 300;
  margin-top: -50px;
  text-align: center;
}

.time {
  font-size: 72px;
  font-weight: 400;
  margin-top: 10px;
}

.stop_button {
  border: 1px solid white;
  border-radius: 2em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 67px;
  height: 67px;
}

.github_logo {
  position: absolute;
  top: 0;
  right: 0;
}
